{
  "TOKEN": "ODA3ODc3NzI0MzYxOTgxOTcz.YB-Yww.hWOHnHyvwZ9ycbQUAMDmeZZ7qLc",
  "YOUTUBE_API_KEY": "AIzaSyATyTU2MTiJWkcts5OGEA2Xmvfzr1mQB44",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
